* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #dddfde;
}

html {
    font-size: 16px;
}

div {
    word-wrap: break-word;
    line-height: 1.25rem;
}

.chat-column {
    height: 100%;
    padding: 0.9375rem 0 0.625rem 0;
    margin: auto;
    text-align: left;
    max-width: 25rem;
    min-width: 9.375rem;
}

#chat {
    margin: 0.75rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
}

.message-inner {
    opacity: 0;
    opacity: 1;
    margin-top: 0.9375rem;
}

.from-user {
    text-align: right;
    margin-right: 0.6rem;
}

.from-user .message-inner {
    position: relative;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.015rem;
    line-height: 1.5125rem;
    background: #00B4A0;
    border-radius: 1.25rem;
    border-bottom-right-radius: 0;
    text-align: left;
    display: inline-block;
    margin-left: 2.5rem;
    min-width: 2.5rem;
}

.from-user .message-inner p {
    margin: 0.8125rem;
    padding: 0 0.7125rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
    content: "";
    position: absolute;
}

.from-watson .message-inner {
    position: relative;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.015rem;
    line-height: 1.5125rem;
    background: rgb(73, 140, 179);
    border-radius: 1.25rem;
    border-top-left-radius: 0;
    text-align: left;
    display: inline-block;
    margin-left: 0; 
    min-width: 2.5rem;
    max-width: 19.5rem;
}

.from-watson p {
    margin: 0.8125rem;
    padding: 0 0.7125rem;
}

#textInput {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: #323232;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    height: 2.5rem;
    width: 100%;
    padding-left: 0.125rem;
    margin-bottom: -0.125rem;
    overflow: auto;
}

.inputOutline {
    display: block;
    border-bottom: 0.0625rem solid #aeaeae;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* ... teste botão ... */
input[type=button] {
    color:#08233e;
    font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:70%;
    cursor:pointer;
}

input[type=button]:hover {
    background-color:rgba(255,204,0,0.8);
}
/* ... teste botão ... */

@media only screen and (max-width: 1000px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .chat-column {
        padding-top: 4rem;
    }
}